.homeform{
    position: relative;
    background-image: url("highschool.jpg");
    background-repeat: no-repeat;
    height:100%;
    background-color: #cccccc;
    background-position: center;
    background-size: cover;
}
a{
    font-family: 'Courier Prime', monospace;
}

.instruct{
    color:white;
    margin-bottom: 1rem;
    font-family: 'Courier Prime', monospace;
    margin-top: 1rem;
}

.center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
} 
.center-copy{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
} 
.left-box{
    position: absolute;
    width:50%;
    height: 120%;
    z-index: -1;
    left: -20%;
    bottom: -15%;
    border-top: 3px solid #800020;
    border-left: 3px solid #800020;
    border-bottom: 3px solid #800020;
}
.right-box{
    position: absolute;
    width:50%;
    height: 120%;
    z-index: -1;
    right: -20%;
    bottom: -15%;
    border-top: 3px solid #800020;
    border-right: 3px solid #800020;
    border-bottom: 3px solid #800020;
}
.navbar{
    background-color: #800020;
}
.nav-link{
    color: white;    
}
.nav-link:hover{
    color: gold;   
}
input{
    margin-top:10px;
}
h1{
    width: max-content;
}
form{
    width:fit-content;
    margin: 0 auto;
}
.test{
    z-index: 3;
    text-align: center;
}
.set{
    margin-bottom: 1rem;
}
.letter{
    color: #800020;
}
.addbtn{
    background-color: #800020;
    border-radius: .25rem;
    color: #fff;
    cursor: pointer;
    position: absolute;
    padding: .375rem .75rem;   
    border: 0;
    right: 48px;
}
.addbtn:hover{
    color: gold;
}
.lastline{
    display:inline;
}


[type="file"] {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    overflow: hidden;
    padding: 0;
    position: absolute !important;
    white-space: nowrap;
    width: 1px; 
}
[type="file"] + label {
    background-color: #800020;
    border-radius: .25rem;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    padding: .375rem .75rem;
}

[type="file"]:focus + label,
[type="file"] + label:hover {
    
    color: gold;
}
  
[type="file"]:focus + label {
  outline: 1px dotted #000;
}