.homeform{
    position: relative;
    background-image: url("highschool.jpg");
    background-repeat: no-repeat;
    height:100%;
    background-color: #cccccc;
    background-position: center;
    background-size: cover;
}

.instruct{
    color:white;
    margin-bottom: 2rem;
    /* z-index: 3; */
}

.center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
} 
.center-copy{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
} 
.left-box{
    position: absolute;
    width:50%;
    height: 120%;
    z-index: -1;
    left: -20%;
    bottom: -15%;
    border-top: 3px solid #800020;
    border-left: 3px solid #800020;
    border-bottom: 3px solid #800020;
}
.right-box{
    position: absolute;
    width:50%;
    height: 120%;
    z-index: -1;
    right: -20%;
    bottom: -15%;
    border-top: 3px solid #800020;
    border-right: 3px solid #800020;
    border-bottom: 3px solid #800020;
}
.navbar{
    background-color: #800020;
}
.nav-link{
    color: white;
}
input{
    margin-top:10px;
}
h1{
    width: max-content;
}
form{
    width:fit-content;
    margin: 0 auto;
}
.test{
    z-index: 3;
    text-align: center;
}
.set{
    margin-bottom: 1rem;
}