.homeform{
    position: relative;
    
}
.center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
} 
input{
    margin-top:10px;
}
h1{
    width: max-content;
}
form{
    width:fit-content;
    margin: 0 auto;
}
/* .new{
    width:200px;
} */
.set{
    margin-bottom: 1rem;
}